<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>interesting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background: skyblue;">
  interesting content goes here
</ion-content>