<ion-header>
  <ion-toolbar>
    <ion-title>modl</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background: slategray;">
  modal content is hereeeeeeeee
  <ion-button (click)="closeModal()">just close</ion-button>
  <ion-button [routerLink]="['/three']" (click)="closeModal()">navigate to component 7(3?)</ion-button>
</ion-content>