<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://beta.ionicframework.com/docs/">docs</a> will
    be your guide.</p>

  <div>
    <ion-button [routerLink]="['/one']">
      open page one
    </ion-button>

    <ion-button (click)="openModal()">
      open modal
    </ion-button>

    <ion-button [routerLink]="['/three']">
      open page two (7?)
    </ion-button>
  </div>
</ion-content>