<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>seven</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background: green;">
  seven page content hereeeeeeeee 7
</ion-content>